APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8888/tourcompany/public

DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=tour_company
DB_USER=root
DB_PASS=root

SESSION_NAME=TC_ADMIN_SESSID
CSRF_TOKEN_KEY=KDJNMCI2256684215496fdisfzi
CSRF_TRUSTED_ORIGINS=http://localhost:8888/tourcompany/public

# Trusted origins for CSRF (comma-separated, w/o trailing slash)
CSRF_TRUSTED_ORIGINS=http://localhost:8888,https://admin.local


# -------------------------------
# MAIL CONFIG (โหมด SMTP)
# -------------------------------
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pokin.wong30@gmail.com
MAIL_PASSWORD=qufyzpjlocwttwem
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=pokin.wong30@gmail.com
MAIL_FROM_NAME="Tour Company System"
MAIL_MAILER=log
MAIL_LOG_PATH=/Applications/MAMP/htdocs/tourcompany/storage/mail_log.html